{% set cover_config = config.theme.cover if config.theme.cover is mapping else {} %}
{% set cover_meta = page.meta.cover if page.meta.cover is mapping else {} %}

{% if page.meta.cover is defined %}
  {% set cover = page.meta.cover %}
{% else %}
  {% set cover = config.theme.cover or false %}
{% endif %}

{% if cover %}

{% set cover_license_config = cover_config.license if cover_config.license is mapping else {} %}
{% set cover_license_meta = cover_meta.license if cover_meta.license is mapping else {} %}

{% set cover_title = cover_meta.title if cover_meta.title is defined else (cover_config.title if cover_config.title is defined else page.title) %}
{% set cover_icon = cover_meta.icon if cover_meta.icon is defined else cover_config.icon %}
{% set cover_logo = cover_meta.logo if cover_meta.logo is defined else cover_config.logo %}
{% set cover_background = cover_meta.background if cover_meta.background is defined else cover_config.background %}
{% set subtitle = cover_meta.subtitle if cover_meta.subtitle is defined else cover_config.subtitle %}
{% set curs = cover_meta.curs if cover_meta.curs is defined else cover_config.curs %}

{% set author = cover_meta.author if cover_meta.author is defined else (cover_config.author if cover_config.author is defined else config.site_author) %}
{% set email = cover_meta.email if cover_meta.email is defined else (cover_config.email if cover_config.email is defined else config.site_email) %}
{% set original_author = cover_meta.original_author if cover_meta.original_author is defined else cover_config.original_author %}

{% set license_type = cover_license_meta.type if cover_license_meta.type is defined else (cover_license_config.type if cover_license_config.type is defined else config.theme.license.type) %}
{% set license_text = cover_license_meta.text if cover_license_meta.text is defined else (cover_license_config.text if cover_license_config.text is defined else config.theme.license.text) %}
{% set license_link = cover_license_meta.link if cover_license_meta.link is defined else (cover_license_config.link if cover_license_config.link is defined else config.theme.license.link) %}
{% set license_image = cover_license_meta.image if cover_license_meta.image is defined else (cover_license_config.image if cover_license_config.image is defined else config.theme.license.image) %}
{% set license_icon_override = cover_license_meta.icon if cover_license_meta.icon is defined else cover_license_config.icon %}

{% if license_icon_override %}
  {% set license_icon = license_icon_override %}
{% else %}
  {% set license_type_lower = (license_type or '') | lower %}
  {% if 'copyleft' in license_type_lower %}
    {% set license_icon = 'material/copyleft' %}
  {% elif 'creative commons' in license_type_lower or ' cc ' in (' ' ~ license_type_lower ~ ' ') or license_type_lower.startswith('cc') %}
    {% set license_icon = 'material/creative-commons' %}
  {% else %}
    {% set license_icon = 'material/copyright' %}
  {% endif %}
{% endif %}


<div class="cover">

{% block cover_background %}
{% if cover_background %}
{% include "partials/cover/cipfp-mislata/background.html" %}
{% endif %}
{% endblock %}

<div class="cover__content{% if cover_background %} with-background{% endif %}">

{% block cover_header %}
{% endblock %}

{% block cover_logo %}
  {% if cover_logo %}
    <div class="cover__logo">
      {% if cover_logo.endswith('.svg') %}
        {% include cover_logo %}
      {% else %}
        <img src="{{ cover_logo | url }}" alt="Logo" />
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block cover_title %}
<div class="cover__title">
  <h1 class="">{% if cover_icon %}<span class="cover__title-icon twemoji">{% include ".icons/" ~ cover_icon ~ ".svg" %}</span>{% endif %}<span class="cover__title-text">{{ cover_title }}</span></h1>

{% block cover_subtitle %}
{% if subtitle %}
{% if subtitle is string %}
  <h2>{{ subtitle }}</h2>
{% else %}
  <div>
  {% for sub in subtitle %}
    <h2>{{ sub }}</h2>
  {% endfor %}
  </div>
{% endif %}
{% endif %}
{% endblock %}
</div>
{% endblock %}

<div class="cover__cards">

{% block cover_details %}
{% if author or email %}
<div class="cover__card">
    <div class="cover__card-header">
        <span class="cover__card-icon"><span class="twemoji">{% include ".icons/material/account.svg" %}</span></span>
        {% if author %}
        <p class="cover__card-title"><strong>{{ author }}</strong></p>
        {% else %}
        <p class="cover__card-title"><a href="mailto:{{ email }}">{{ email }}</a></p>
        {% endif %}
    </div>
    {% if author and email %}
    <div class="cover__card-body">
        <p><a href="mailto:{{ email }}">{{ email }}</a></p>
    </div>
    {% endif %}
</div> <!--details-->
{% endif %}
{% if curs %}
<div class="cover__card">
    <div class="cover__card-header">
        <span class="cover__card-icon"><span class="twemoji">{% include ".icons/material/calendar.svg" %}</span></span>
        <p class="cover__card-title"><strong>Curs acadèmic</strong></p>
    </div>
    <div class="cover__card-body">
        <p>{{ curs }}</p>
    </div>
</div> <!--curs-->
{% endif %}
{% endblock %}

{% block cover_license %}
<div class="cover__card">
    <div class="cover__card-header">
        <span class="cover__card-icon"><span class="twemoji">{% include ".icons/" ~ license_icon ~ ".svg" %}</span></span>
        <p class="cover__card-title"><strong>Llicència: {{ license_type }}</strong></p>
    </div>
    <div class="cover__card-body">

    {% if original_author %}
    <p>Aquest material és una obra derivada a partir del material de: <strong>{{ original_author }}</strong></p>
    {% endif %}

    {% if license_text %}
    <p class="">{{license_text}}</p>
    {% endif %}

    {% if license_image %}
    <div class="cover__license-img">
    <a href="{{ license_link }}" target="_blank">
      <img class="" src="{{ license_image | url }}" alt="License" height="50" />
    </a>
    </div>
    {% endif %}

    </div>
</div><!--license-->
{% endblock %}

</div><!--cards-->

{% block cover_footer %}
{% endblock %}

</div><!--content-->
</div><!--cover-->

{% endif %}
